<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>outday</key>
		<string>第一天</string>
		<key>title</key>
		<string>苏州疯狂激情2日游，带你体验不一样的快乐旅程，体验最好的服务，请尽情的享受吧~</string>
		<key>dayjourney</key>
		<array>
			<dict>
				<key>theme</key>
				<string>07:00 交通</string>
				<key>content</key>
				<string>旅客集合出发</string>
				<key>journeyrange</key>
				<array>
					<string>地点：xxx路118号</string>
					<string>方式：大巴</string>
				</array>
			</dict>
			<dict>
				<key>theme</key>
				<string>08:30 参观景点：苏州观前街 （游览观前步行街，品美食，看美女）</string>
				<key>content</key>
				<string>观前街因其地处玄妙观前而得名，它的得名迄今已有150多年的历史，一直以汇集稻香村、乾泰祥、黄天源等多家名优特色的百年老店而名满天下。</string>
				<key>journeyrange</key>
				<array>
					<string>活动时间：1小时</string>
					<string>行程距离：1公里</string>
				</array>
				<key>picurls</key>
				<array>
					<dict>
						<key>img</key>
						<string>http://pic3.40017.cn/shortTour/2015/09/01/11/o9GhWR.jpg</string>
					</dict>
					<dict>
						<key>img</key>
						<string>http://pic3.40017.cn/shortTour/2015/11/27/16/kUDzdc.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>outday</key>
		<string>第一天</string>
		<key>title</key>
		<string>苏州疯狂激情2日游，带你体验不一样的快乐旅程，体验最好的服务，请尽情的享受吧~</string>
		<key>dayjourney</key>
		<array>
			<dict>
				<key>theme</key>
				<string>会就爱上看见对方卡洛斯的房间爱看书的房间卡积分卡拉斯积分卡手机看</string>
				<key>content</key>
				<string>撒娇杀手锏和福建按双方就暗示法神九发射几号放假按时交付后骄傲是返回就按双方就好撒</string>
				<key>journeyrange</key>
				<array>
					<string>活动时间：1小时</string>
					<string>行程距离：1公里活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时</string>
					<string>行驶时间：1小时11分活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时</string>
				</array>
				<key>picurls</key>
				<array>
					<dict>
						<key>img</key>
						<string>http://pic3.40017.cn/shortTour/2015/09/01/11/o9GhWR.jpg</string>
					</dict>
					<dict>
						<key>img</key>
						<string>http://pic3.40017.cn/shortTour/2015/11/27/16/kUDzdc.jpg</string>
					</dict>
					<dict>
						<key>img</key>
						<string>http://pic3.40017.cn/shortTour/2016/01/21/17/StRZR7.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>outday</key>
		<string>第一天</string>
		<key>title</key>
		<string>苏州疯狂激情2日游，带你体验不一样的快乐旅程，体验最好的服务，请尽情的享受吧~</string>
		<key>dayjourney</key>
		<array>
			<dict>
				<key>theme</key>
				<string>11:00 吃饭：大餐 </string>
				<key>content</key>
				<string>撒娇杀手锏和福建按双方就暗示法神九发射几号放假按时交付后骄傲是返回就按双方就好撒</string>
				<key>journeyrange</key>
				<array>
					<string>活动时间：1小时</string>
					<string>行程距离：1公里活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时</string>
					<string>行驶时间：1小时11分活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时</string>
				</array>
				<key>picurls</key>
				<array>
					<dict/>
					<dict>
						<key>img</key>
						<string>http://pic3.40017.cn/shortTour/2016/02/19/14/6rr91E.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>outday</key>
		<string>第一天</string>
		<key>title</key>
		<string>苏州疯狂激情2日游，带你体验不一样的快乐旅程，体验最好的服务，请尽情的享受吧~</string>
		<key>dayjourney</key>
		<array>
			<dict>
				<key>theme</key>
				<string>11:00 吃饭：大餐 </string>
				<key>content</key>
				<string>撒娇杀手锏和福建按双方就暗示法神九发射几号放假按时交付后骄傲是返回就按双方就好撒</string>
				<key>journeyrange</key>
				<array>
					<string>活动时间：1小时</string>
					<string>行程距离：1公里活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时</string>
					<string>行驶时间：1小时11分活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时</string>
				</array>
				<key>picurls</key>
				<array>
					<dict/>
					<dict>
						<key>img</key>
						<string>http://pic3.40017.cn/shortTour/2016/02/19/14/6rr91E.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>outday</key>
		<string>第一天</string>
		<key>title</key>
		<string>苏州疯狂激情2日游，带你体验不一样的快乐旅程，体验最好的服务，请尽情的享受吧~</string>
		<key>dayjourney</key>
		<array>
			<dict>
				<key>theme</key>
				<string>11:00 吃饭：大餐 </string>
				<key>content</key>
				<string>撒娇杀手锏和福建按双方就暗示法神九发射几号放假按时交付后骄傲是返回就按双方就好撒</string>
				<key>journeyrange</key>
				<array>
					<string>活动时间：1小时</string>
					<string>行程距离：1公里活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时</string>
					<string>行驶时间：1小时11分活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时活动时间：1小时</string>
				</array>
				<key>picurls</key>
				<array>
					<dict/>
					<dict>
						<key>img</key>
						<string>http://pic3.40017.cn/shortTour/2016/02/19/14/6rr91E.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
